.box {
    background-color: aqua;
    display: block;
    padding-bottom: 50px;
}
.header {
    display: flex;
    align-content:space-between;
    justify-content: space-around;
    padding-top: 0 px;
    padding-bottom: 10px;
}
small {
    font-size: 15px;
    color: blue;
}
h1 {
    color: red;
    line-height: 15px;
    align-content: space-around;
    justify-content: space-around;
    flex-grow: 0.1;
    padding-left: 10;

}
h2 {
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
    flex: 0.4;
}
 a:link {
     text-decoration: none;
 }
.container {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
h3 {
    color: red;
    font-size: 30px;
     flex-wrap: wrap;
    justify-items: center;
    flex-grow: 2;
}
img {
    height: 280px;
    width: 450px;
    
}
button {
    background-color: blue;
    font-size: 20px;
    color: aliceblue;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 8px;
    width: 120px;
}
@media only screen and (max-width: 768px) {
/* For mobile phones: */
    * {
     width: 50;
     background-color: rgb(135, 222, 139);
     display: flex;
     flex-direction: column;
}
/* css for the form*/
body{
    background-color: aqua;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 0px;
}
input[type=text], input[type=password] {
   width: 200px;
   font-size: 28px;
   padding: 15px;
   margin: 5px 0 22px 0;
   display: inline-block;
   border: none;
   background: #f1f1f1;
}
label{
   font-size: 15px;
}
input[type=text]:focus, input[type=password]:focus {
   background-color: #ddd;
   outline: none;
}
hr {
   border: 1px solid #f1f1f1;
   margin-bottom: 25px;
}
button {
   font-size: 18px;
   font-weight: bold;
   background-color: rgb(10, 119, 13);
   color: white;
   padding: 20px 30px;
   margin: 8px 0;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   width: 200px;
   opacity: 0.9;
}
button:hover {
   opacity:1;
}
.cancel {
    border: none;
   width: 200px;
   border-radius: 8px;
   padding: 20px 20px;
   background-color: #ff3d2f;
}
.formContainer {
   display: flex;
   flex-direction: column;
   padding: 250px;
   align-content: center;
}
.formContainer p{
   font-size: 28px;
}
/* end of css for form*/




